html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 5rem; }

h3 {
  font-size: 3rem; }

li {
  list-style: none;
  display: flex; }

p {
  font-size: 2rem; }

a {
  text-decoration: none;
  font-size: 1.8rem; }

header {
  padding: 22px 0; }

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.header-container a {
  color: #000;
  padding: 10px 5px;
  margin-right: 30px; }

.header-container a:hover {
  border-bottom: 3px solid #941010; }

.header-container ul {
  display: flex; }

.main-nav .icon {
  display: none; }

.ul i {
  display: block;
  font-size: 1rem; }

main {
  display: flex;
  flex-direction: column;
  width: 100%; }

main .main_welcome {
  background: url(/img/header_back.jpg);
  text-align: center;
  background-size: cover;
  padding: 25rem 0 45rem 0; }

.who_we {
  width: 90%;
  margin: 0 auto; }

.left_part img {
  height: 40rem; }

main .who_parts {
  display: flex;
  padding: 10rem 0 10rem 0; }

.left_part {
  margin-right: 20rem; }

.right_part p {
  font-size: 3rem;
  margin: 3rem; }

.right_part i {
  color: #15ff00; }

.right_part h2 {
  display: block;
  text-align: center;
  border-bottom: .4rem solid #941010; }

.why_we {
  background: url(/img/background-fon.jpeg);
  background-size: cover; }

.h2_txt {
  text-align: center;
  padding: 2rem;
  color: #fff; }

.why_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }

.choose_card {
  display: block;
  border: 2px solid #000;
  margin: 3rem;
  width: 50%;
  height: auto;
  background-color: #fff;
  text-align: center; }

h3, p {
  text-align: center; }

.choose_card i {
  font-size: 10rem;
  display: inline-block;
  background-image: linear-gradient(to right, #941010, #008172, #0127c0);
  -webkit-background-clip: text;
  color: transparent; }

.course_cards {
  display: block; }

.course_card {
  text-align: center;
  border: 3px solid #941010;
  margin: 3rem; }

.owl-nav {
  font-size: 3rem; }

@media screen and (max-width: 425px) {
  h1, h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem; }
  .header-container a {
    margin: 0; }
  .header-container li {
    display: none; }
  .main-nav a.icon {
    float: right;
    display: block;
    color: #000;
    font-size: 2.5rem; }
  .main-nav.responsive {
    position: relative;
    top: 5rem;
    left: -5rem;
    background: #941010;
    display: block; }
  header .main-nav.responsive {
    height: 20rem; }
  .main-nav.responsive a.icon {
    position: absolute;
    top: -5rem;
    right: -5rem; }
  .main-nav.responsive li {
    float: none;
    display: block;
    text-align: left; }
  p {
    font-size: 1.4rem; }
  .max-width {
    max-width: 100%; }
  .who_parts {
    flex-direction: column; }
  .right_part p {
    font-size: 1.4rem; }
  .left_part img {
    width: 27rem;
    height: 25rem; }
  main .main_welcome {
    padding: 15rem 0 15rem 0; }
  .choose_card i {
    font-size: 3rem; }
  .why_table {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .choose_card {
    margin: 2rem 0 2rem 0; } }

@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 3rem; }
  main .who_parts {
    padding: 7rem 0 7rem 0; }
  .right_part p {
    font-size: 1.8rem;
    margin: 2rem; }
  .left_part img {
    height: 25rem; }
  .right_part {
    margin: 1.5rem; }
  h3 {
    font-size: 2.5rem; }
  p {
    font-size: 1.5rem; } }

@media screen and (max-width: 1024px) {
  h1, h2 {
    font-size: 3rem; }
  .right_part p {
    font-size: 2rem; }
  .main-nav a {
    font-size: 1.3rem;
    padding: .5rem 0; }
  .header-container {
    height: 2rem;
    align-content: center;
    transform: translateY(-70%); }
  .left_part {
    margin-right: 3rem; }
  .right_part {
    margin: 2rem; }
  .choose_card {
    width: 80%; } }

@media screen and (max-width: 1366px) {
  h1, h2 {
    font-size: 4rem; } }
