html {
  font-size: 62.5%;
  font-family: "Mukta"; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

h1, h2 {
  font-size: 5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.2rem; }

li {
  list-style: none;
  display: flex; }

p {
  font-size: 2rem; }

a {
  text-decoration: none;
  font-size: 1.8rem; }

body {
  max-width: 160rem;
  margin: auto; }

header {
  padding: 22px 0; }

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.header-container a {
  color: #000;
  padding: 10px 5px;
  margin-right: 30px; }

.header-container a:hover {
  border-bottom: 2px solid #941010; }

.header-container ul {
  display: flex; }

.main-nav .icon {
  display: none; }

.ul i {
  display: block;
  font-size: 1rem; }

main {
  display: flex;
  flex-direction: column;
  width: 100%; }

main .main_welcome {
  background: url(/img/header_back.jpg);
  text-align: center;
  background-size: cover;
  padding: 25rem 0 45rem 0; }

.who_we {
  width: 90%;
  margin: 0 auto; }

.left_part img {
  height: 40rem; }

main .who_parts {
  display: flex;
  padding: 10rem 0 10rem 0; }

.left_part {
  margin-right: 20rem; }

.right_part p {
  font-size: 3rem;
  margin: 3rem; }

i {
  color: #0fb900; }

.right_part h2 {
  display: block;
  text-align: center;
  border-bottom: 0.4rem solid #941010; }

.why_we {
  background: url(/img/background-fon.jpeg);
  background-size: cover; }

.h2_txt {
  text-align: center;
  padding: 2rem;
  color: #fff; }

.why_table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }

.choose_card {
  display: block;
  border: 2px solid #000;
  margin: 3rem;
  width: 60%;
  height: auto;
  background-color: #fff;
  text-align: center; }

h3, p {
  text-align: center; }

.choose_card i {
  font-size: 10rem;
  display: inline-block;
  background-image: linear-gradient(to right, #941010, #008172, #0127c0);
  -webkit-background-clip: text;
  padding-top: .5rem;
  color: transparent; }

.course_cards {
  display: block; }

.course_card {
  text-align: center;
  border: 2px solid #000;
  border-radius: 1rem;
  margin: 3rem;
  height: 32rem; }

.course_card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.course_card li {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  font-size: 2rem; }

.page-headers {
  text-align: center; }

.owl-nav {
  font-size: 3rem; }

.course_card a {
  border: 0.2rem solid #941010;
  border-radius: 3rem;
  padding: 0 1rem 0 1rem; }

.owl-nav {
  display: flex;
  justify-content: space-around; }

.page-btn {
  display: flex;
  justify-content: center;
  padding: 2rem; }

.btn {
  padding: 1rem 2.5rem 1rem 2.5rem;
  border: 0.2rem solid #941010;
  border-radius: 3rem; }

.course_card {
  background: #17141d;
  color: #b8b8b8; }

.card {
  height: 30rem;
  width: 25rem;
  background-color: #17141d;
  border-radius: 1rem;
  box-shadow: 1rem 0 1rem #000;
  transition: 0.4s ease-out;
  position: relative;
  margin: 3rem; }

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.title {
  color: white;
  font-weight: 20;
  position: relative;
  left: 20px;
  top: 15px; }

.bar {
  position: absolute;
  top: 10rem;
  left: 2rem;
  height: 3px;
  width: 20rem; }

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%; }

.circle {
  position: relative; }

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 2px;
  height: 100%;
  background: #009ad9;
  background: linear-gradient(90deg, #009ad9 0%, #d99300 65%, #ffba00 100%);
  transition: 0.6s ease-out; }

.card:hover .filledbar {
  width: 180px;
  transition: 0.4s ease-out; }

.owl-stage-outer {
  right: 3rem; }

.results h2, .page-headers h2, .our_team h2 {
  text-align: center;
  padding: 2rem; }

.team_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%; }

.card_t {
  background-color: #2e3033;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.card_t .back_image {
  width: 100%;
  height: 26rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 56%, 0 73%); }

.team_img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -20rem;
  z-index: 999; }

.news_page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%; }

.news_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.news_card img {
  position: relative;
  width: 100%;
  height: 25rem;
  transition: .5s;
  object-fit: cover; }

.news_card p::before {
  display: none; }

.news_card img {
  background-size: cover; }

.news_card:hover img {
  opacity: .2; }

.map iframe {
  width: 50rem;
  padding: 0 0 10rem 10rem; }

.footer {
  display: flex;
  justify-content: space-around; }

.footer_info {
  padding: 0 10rem 0 0; }

.footer_info a {
  text-align: left;
  padding: 1rem;
  display: flex; }

.footer_info i {
  color: #0fb900; }

.subscribe {
  display: flex;
  justify-content: space-around;
  background: url(/img/register.jpg); }

.form-control {
  width: 300px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #941010;
  color: #000;
  font-size: 2rem;
  margin: 2rem; }

.submit {
  background-color: #0fb900; }

.popular a {
  display: flex;
  justify-content: center;
  color: #000;
  margin: 1.5rem; }

@media screen and (max-width: 768px) {
  h1, h2 {
    font-size: 3rem; }
  main .who_parts {
    padding: 7rem 0 7rem 0; }
  .right_part p {
    font-size: 1.8rem;
    margin: 2rem; }
  .left_part img {
    height: 25rem; }
  .right_part {
    margin: 1.5rem; }
  h3 {
    font-size: 3rem; }
  p {
    font-size: 1.5rem; }
  .team_card {
    flex-direction: column; }
  .map iframe {
    width: 50rem;
    height: 30rem;
    padding: 0 0 5rem 5rem; }
  .footer_info {
    padding: 0 5rem 0 0; }
  .footer_info a {
    font-size: 1.4rem; } }

@media screen and (max-width: 1024px) {
  h1, h2 {
    font-size: 3rem; }
  .right_part p {
    font-size: 2rem; }
  .main-nav a {
    font-size: 1.3rem;
    padding: .5rem 0; }
  .header-container {
    height: 2rem;
    align-content: center;
    transform: translateY(-70%); }
  .left_part {
    margin-right: 3rem; }
  .right_part {
    margin: 2rem; }
  .choose_card {
    width: 80%; }
  .team_card, .news_page {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }
  .map iframe {
    width: 35rem; } }

@media screen and (max-width: 1366px) {
  h1, h2 {
    font-size: 4rem; } }

@media screen and (max-width: 425px) {
  h1, h2 {
    font-size: 3rem; }
  h3 {
    font-size: 2rem; }
  .header-container a {
    margin: 0; }
  .header-container li {
    display: none; }
  .main-nav a.icon {
    float: right;
    display: block;
    color: #000;
    font-size: 2.5rem; }
  .main-nav.responsive {
    position: relative;
    top: 5rem;
    left: -5rem;
    background: #941010;
    display: block; }
  header .main-nav.responsive {
    height: 20rem; }
  .main-nav.responsive a.icon {
    position: absolute;
    top: -5rem;
    right: -5rem; }
  .main-nav.responsive li {
    float: none;
    display: block;
    text-align: left; }
  p {
    font-size: 1.4rem; }
  .max-width {
    max-width: 100%; }
  .who_parts {
    flex-direction: column; }
  .right_part p {
    font-size: 1.4rem; }
  .left_part img {
    width: 27rem;
    height: 25rem; }
  main .main_welcome {
    padding: 15rem 0 15rem 0; }
  .bar, .emptybar {
    top: 6.5rem; }
  .filledbar {
    top: 0; }
  .choose_card i {
    font-size: 3rem; }
  .why_table {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .choose_card {
    margin: 2rem 0 2rem 0; }
  .team_card, .news_page {
    grid-template-columns: repeat(1, 1fr);
    margin: 0; }
  .card_t, .news_card {
    margin: 2rem 0 2rem 0; }
  .map_frame {
    width: 30rem; }
  .map iframe {
    width: 32rem; }
  .footer {
    flex-direction: column; }
  .map iframe {
    padding: 0 0 0 0; }
  .popular {
    display: none; } }
