@import "abstracts/variables";
@import "abstracts/mixin";


html {
    font-size: 62.5%;
    font-family: 'Mukta', ;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-size: 5rem;
}
h3 {
    font-size: 3rem;
}
li {
    list-style: none;
    display: flex;
}
p {
    font-size: 2rem;
}
a {
    text-decoration: none;
    font-size: 1.8rem;
}
header {
    padding: 22px 0;
}
.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a {
    color: $color-black;
    padding: 10px 5px;
    margin-right: 30px;
}
.header-container a:hover {
    border-bottom: 3px solid $color-red;
}
.header-container ul {
    display: flex;
}
.main-nav .icon {
    display: none;
}
.ul i {
    display: block;
    font-size: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main_welcome {
    background: url(/img/header_back.jpg);
    text-align: center;
    background-size: cover;
    padding: 25rem 0 45rem 0 ;
}
.who_we {
    width: 90%;
    margin: 0 auto;
}
.left_part img {
    height: 40rem;
}
main .who_parts {
    display: flex;
    padding: 10rem 0 10rem 0;
}
.left_part {
    margin-right: 20rem;
}
.right_part p {
    font-size: 3rem;
    margin: 3rem;
}
.right_part i {
    color: #15ff00;    
}
.right_part h2 {
    display: block;
    text-align: center;
    border-bottom: .4rem solid $color-red;
}
.why_we { 
    background: url(/img/background-fon.jpeg);
    background-size: cover;
}
.h2_txt {
    text-align: center;
    padding: 2rem;
    color: $color-white;
}
.why_table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.choose_card {
    display: block;
    border: 2px solid $color-black;
    margin: 3rem;
    width: 60%;
    height: auto;
    background-color: $color-white;
    text-align: center;
}
h3,p {
    text-align: center;
}
.choose_card i {
    font-size: 10rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-red, rgb(0, 129, 114), #0127c0);
    -webkit-background-clip: text;
    padding-top: .5rem;
    color: transparent;
}
.course_cards {
    display: block;
    
}
.course_card {
    text-align: center;
    border: 2px solid $color-black;
    border-radius: 1rem;
    margin: 3rem;
    height: 32rem;
}
.course_card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  

.course_card li {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    font-size: 2rem;
}
.page-headers {
    text-align: center;
}
.owl-nav {
    font-size: 3rem;
}
.course_card a {
    border: .2rem solid $color-red;
    border-radius: 3rem;
    padding: 0 1rem 0 1rem;

}
.owl-nav {
    display: flex;
    justify-content: space-around;
}
.page-btn {
    display: flex;
    justify-content: center;
} 
.btn {
    @include btn-mix;
}
.course_card {
    background: #17141d;
    color: rgb(184, 184, 184);
}






.container {
    position: relative;
    height: 3rem;
    margin: 3rem;
    top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    height: 30rem;
    width: 25rem;
    background-color: #17141d;
    border-radius: 1rem;
    box-shadow: -1rem 0 1rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: -1.5rem;
     margin: 3rem;
}
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
  
.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}
  
  .title {
    color: white;
    font-weight: 20;
    position: relative;
    left: 20px;
    top: 15px;
}
  
.bar {
    position: absolute;
    top: 10rem;
    left: 2rem;
    height: 3px;
    width: 20rem;
}
  
.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}
.circle {
      position: relative;
}
.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 2px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}
  
  .card:hover .filledbar {
    width: 180px;
    transition: 0.4s ease-out;
}
// .course_card {
//     left: 1.5rem;
// }
.owl-stage-outer {
    right: 3rem;
}


  
















@media screen and (max-width: 425px) {
    h1,h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    .header-container a{
        margin: 0;
    }
    .header-container li {
        display: none;   
    }
    .main-nav a.icon {
        float: right;
        display: block;
        color: #000;
        font-size: 2.5rem;
    }
    .main-nav.responsive {
        position: relative;
        top: 5rem;
        left: -5rem;
        background: #941010;
        display: block;
    }
    header .main-nav.responsive {
        height: 20rem;
    }
    .main-nav.responsive a.icon{
        position: absolute;
        top: -5rem;
        right: -5rem;
    }
    .main-nav.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    p {
        font-size: 1.4rem;
    }
    .max-width { 
        max-width: 100%;
    }
    .who_parts {
        flex-direction: column;
    }
    .right_part p {
        font-size: 1.4rem;
    }
    .left_part img {
        width: 27rem;
        height: 25rem;
    }
    main .main_welcome {
        padding: 15rem 0 15rem 0;
    }
    .choose_card i {
        font-size: 3rem;
    }
    .why_table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .choose_card {
        margin: 2rem 0 2rem 0;
    }
    
}
@media screen and (max-width: 768px) {
    h1,h2 {
        font-size: 3rem;
    }
    main .who_parts {
        padding: 7rem 0 7rem 0;
    }
    .right_part p {
        font-size: 1.8rem;
        margin: 2rem;
    }
    .left_part img {
        height: 25rem;
    }
    .right_part {
        margin: 1.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1024px) {
    h1,h2 {
        font-size: 3rem;
    }
    .right_part p {
        font-size: 2rem;
    }
    .main-nav a {
        font-size: 1.3rem;
        padding: .5rem 0;
    }
    .header-container {
        height: 2rem;
        align-content: center;
        transform: translateY(-70%);
    }
    .left_part {
        margin-right: 3rem;
    }
    .right_part {
        margin: 2rem;
    }
    .choose_card {
        width: 80%;
    }
}
@media screen and (max-width: 1366px) {
    h1,h2 {
        font-size: 4rem;
    }
    
}









